@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;500;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --light-text-color: #f3e9d2;
  --dark-blue:#114b5f;
  --lime-green: #88d498;
  --dark-green:#1a936f; 
  --light-green: #c6dabf;
}

body{
  display: flex;
  flex-direction: column;
}

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Overpass Mono", sans-serif;
}
/* ############# Section One ############## */

video{
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
}

.showcase{
  display: flex;
  z-index: 500;
  height: 100vh;
  opacity: 0.7;
  flex-direction: row-reverse;
}

.text{
  background-color: var(--light-text-color);
  display: flex;
  flex-direction: column;
  max-width: 425px;
  align-items: center;
  min-height: 500px;
  padding: 25px;
  justify-content: space-between;

  /* ADD SERVICING COUNTIES */
}

h2{
  color: var(--dark-blue);
  font-size: 48px;
}

.dash{
  width: 75px;
  filter: invert(22%) sepia(79%) saturate(465%) 
  hue-rotate(149deg) brightness(95%) contrast(95%);
  margin: -50px;
}

.sOneTitle{
  color: var(--dark-blue);
  padding: 15px;
}
.buttonContainer{
  width: 300px;
  height: auto;
}

.about, .schedule{
  border: solid black 2px;
  padding: 15px 30px;
  border-radius: 8px;
}

.socials{
  display: flex;
  list-style: none;
  align-items: end;
  width: 350px;
  justify-content: space-around;
}

.socials li img{
  height: 40px;
}


/* ######### Section Two ########### */

.sectionTwo{
  display:flex;
  min-height: 75vh;
}

.sectionTwo ul{
  position: relative;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.sectionTwo ul li{
  display: flex;
}

.sectionTwo ul li span{
  position: absolute;
  top: 35vh;
  padding: 10px 0px;
  width: 300px;
  text-align: center;
  background-color: var(--light-green);
  opacity: .7;
}

.sectionTwo ul li img{
  max-height: 200px;
  max-width: 300px;
}

/* ########### Section Three ########### */

#sThreeMainContainer{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 75vh;
  justify-content: space-around;
  align-items: center;
}

.sectionThree{
  min-height: 75vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-blue);
}

.anotherContainer{
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.sectionThreeTitle p{
  font-size: 48px;
  color: var(--light-text-color);
}

.sectionThreetitle{
  display: flex;
  border: solid black 5px;
  width: 90vw;
}

.testimonialContainer{
  max-width: 25vw;
  min-height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow:2px 3px 12px 6px rgba(0,0,0,0.41);
  background-color: #fff;
}

.name{
  font-weight: 700;
  color: var(--dark-blue);
  padding: 10px 0px;
}

.quoteContainer{
  display: flex;
  flex-direction: column;
}

.quoteImg{
  display: flex;
  justify-content: end;
  padding: 15px;
}

.quoteContainer img{
  max-height: auto;
  max-width: 30px;
}

.portrait{
  max-height: 200px;
  max-width: 200px;
  border-radius: 50px;
  padding: 15px;
}

.satisfied{
  color: #1a936f;
}

/* ############# Section Four ############ */

.sectionFour{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionFourContainer{
  background-color: #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid var(--dark-blue) 3px;
  width: 80vw;
  height: 50vh;
}

.list{
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  height: 15vh;
}

.achievements{
  height: 40vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper{
  display: flex;
}

.achievements img{
  max-width: 10vw;
}

#enlarge{
  min-width: 25vw;
}

/* ########### Footer ########### */

footer{
  width: 100vw;
  height: 10vh;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

footer span{
  color: var(--light-text-color);
}