*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --light-text-color: #f3e9d2;
  --dark-blue:#114b5f;
  --lime-green: #88d498;
  --dark-green:#1a936f; 
  --light-green: #c6dabf;
}

body{
  display: flex;
}

.topText{
  width: 60vw;
  border-radius: 5px solid;
  margin: 75px 0px;
  padding-left: 3vw;
}

.inputContainer{
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 3vw;
  width: 90%;
}

.input{
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  font-size: 0.7rem;
  text-transform: uppercase;
}

label{
  font-size: .9rem;
}

.formTitle{
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
}

img{
  width: 40%;
  height: 100vh;
}

#main{
  background-color: var(--dark-blue);
  width: 60%;
  height: auto;
}

.accountButton{
  padding-left: 3vw;
}

button{
  font-weight: 700;
  font-size: 1.2em;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px 40px;
  margin: 40px 0;
}

