*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Overpass Mono", sans-serif;
}

:root {
  --light-text-color: #f3e9d2;
  --dark-blue:#114b5f;
  --lime-green: #88d498;
  --dark-green:#1a936f; 
  --light-green: #c6dabf;
}

body{
  display: flex;
}

.inputContainer{
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 3vw;
}

.input{
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.formTitle{
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
}

img {
  width: 40%;
  height: 100vh;
}

#main {
  background-color: var(--dark-blue);
  width: 60%;
  height: auto;
}